<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/dashboard_css.css">
    <link rel="stylesheet" href="/stylesheets/notification_dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">


    <link rel="stylesheet" href="/stylesheets/delete_pop.css">
    <!-- <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


    
    <title>Dashboard</title>
</head>
<body>

    <style>
        #messagebox{
            background-color: #ab2d24;
            padding-left: 20px;
        }
    </style>
    
    
  
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">

        <div class="sidebar-header">
            <h3 class="brand">
              
                <span>BACKBENCHERS</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a href="/aboutus">
                        <span class="ti-face-smile"></span>
                        <span>About us</span>
                    </a>
                </li>

                <li>
                    <a href="/query/contactus">
                        <span class="ti-mobile"></span>
                        <span>Contact us</span>
                    </a>
                </li>

                <li>
                    <a href="/showSavedArticles?page=1">
                        <span class="ti-bookmark"></span>
                        <span>Saved Articles</span>
                    </a>
                </li>

                <li>
                    <a href="/blogs">
                        <span class="ti-book"></span>
                        <span>Blogs</span>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                        <span class="ti-settings"></span>
                        <span>logout</span>
                    </a>
                </li>

                <% if(currentUser.role === 'admin'){ %>
                <li>
                    <a href="/adminportal">
                        <span class="ti-settings"></span>
                        <span>adminportal</span>
                    </a>
                </li>
               <% } %>
                    
            </ul>
        </div>
    </div>

        <div class="main-content">

            <header>
                <div class="search-wrapper">
                    <a href="/"><img class="personal-img" src="/images/final_2.png" alt="" height="40px" width="40px"></a>
                </div>
                <p><%=message%></p>
                <div class="social-icons">

                    <!-- <span class="ti-bell"></span>
                    <span class="ti-comment"></span> -->
                    <% if(currentUser.google_id){ %>
                        <span class="name-dash"><h3>Logged In as <%=currentUser.google_username%></h3></span>

                    <% } else if(currentUser.fb_id){ %>
                        <span class="name-dash"><h3>Logged In as <%=currentUser.fb_username%></h3></span>

                    <% } else { %>
                        <span class="name-dash"><h3>Logged In as <%=currentUser.username%></h3></span>
                    <% } %>

                    
                    <div></div>
                </div>


                
<% if(successmessage.length || errormessage.length){ %>
    <div class="alert show showAlert">
        <span style="color:black;font-size:20px;background:white;border-radius: 50%;padding:3.5px" class="ti-bell"></span>
        <% if(successmessage.length){ %>
            <span id="success-message-color" class="msg-alert"><%=successmessage%></span>
        <% } else if(errormessage.length) { %>
            <span id="error-message-color" class="msg-alert"><%=errormessage%></span>
        <% } %>
        <div class="close-btn">
          <span class="ti-close"></span>
        </div>
    </div>
    <% } else{ %>
        <div class="alert hide">
            <span class="ti-bell"></span>
            <span class="msg-alert"></span>
            <div class="close-btn">
              <span class="ti-close"></span>
            </div>
        </div>
    <% } %>



            </header>

            <main>

                <h2 class="dash-title">Overview</h2>

                <div class="dash-cards">

                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-write"></span>
                            <div>
                                <h5>Total number of Blogs</h5>
                                <h4><%=articlesCount%></h4>
                            </div> 
                        </div>
                        <div class="card-footer">
                            <% if(currentUser.role == 'author' || currentUser.role == 'admin'){ %>
                            <a href="/showAllArticles?page=1" >View all</a>
                            <% } %>
                        </div>
                    </div>

                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-plus"></span>
                            <div>
                                <h5>Total subscribers</h5>
                                <h4><%=followersCount%></h4>
                            </div> 
                        </div>
                        <div class="card-footer">
                            <!-- <a href="/showAllFollowers">View all</a> -->
                        </div>
                    </div>

                    <div class="card-single">
                        <div class="card-body">
                            <span class="ti-eye"></span>
                            <div>
                                <h5>Total number of likes</h5>
                                <h4><%=totalLikes%></h4>
                            </div> 
                        </div>
                        <div class="card-footer">
                            <!-- <a href="">View all</a> -->
                        </div>
                    </div>

                </div>

                <section class="recent">
                    <div class="activity-grid">
                      <div class="activity-card">
                        <h3 class="heading-top" id="ending">PERSONAL INFO</h3>
                        <form action="/profile-pic-update" method="POST" enctype="multipart/form-data">
                            <div class="profile-pic-div">
                                <% if(currentUser.image){ %>
                                    <img src="/uploads/img/profile-pics/<%=currentUser.image%>" id="photo">
                                <% } else { %>
                                    <img src="/images/sd.png" id="photo">
                                <% } %>
                                
                                <input type="file" name="photo" id="file">
                                <label for="file" id="uploadBtn">Edit pic</label>
                                
                            </div>
                            <button class="update-info" type="submit" style="margin:15px 58px;padding:5px;border-radius: 50%;font-size:15px;font-weight: bolder;"> <i class="ti-pencil"></i></button>
                            
                        </form>

                        <% if(currentUser.image){ %>
                            <button onclick="removeProfilePic(this)" class="update-info" type="submit" style="margin-top:-44px;padding:5px;margin-left:130px;border-radius: 50%;font-weight: bolder;"><i class="ti-close"></i></button>
                        <% } %>
                        



                        <form action="/updateUser" method="POST" class="sign-in-form">

                           <!-- <h2 class="title">Personal info</h2> -->
                            <h3>Username</h3>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                            <% if(currentUser.google_id){ %>
                                <input type="text" name="google_username" value="<%=currentUser.google_username%>"  >

                            <% } else if(currentUser.fb_id){ %>
                                <input type="text" name="fb_username" value="<%=currentUser.fb_username%>"  >

                            <% } else { %>
                                <input type="text" name="username" value="<%= currentUser.username %>"  >
                            <% } %>

                            </div>

                            <% if(currentUser.role === 'author' || currentUser.role == 'admin'){ %>
                            <h3>Channel name</h3>
                            <div class="input-field">
                                <i class="fas fa-user"></i>
                            <input type="text" name="channel" value="<%=currentUser.channel%>" readonly>
                            </div>
                            <% } %>

                            <h3>Email address</h3>
                            <div class="input-field">
                                <i class="fas fa-envelope"></i>
                                <% if(currentUser.google_id){ %>
                                    <input type="text" class = "check-change-mailg" name="email" value="<%=currentUser.google_email%>" readonly>
    
                                <% } else if(currentUser.fb_id){ %>
                                    <input type="text" class = "check-change-mailf" name="email" value="<%=currentUser.fb_email%>" readonly>
    
                                <% } else { %>
                                    <input type="text" class = "check-change-mail" name="email" value="<%=currentUser.email%>" readonly>
                                <% } %>
                            
                            </div>
                            <p id="error-message"></p>

                            <% if(!currentUser.google_id ){ %>
        
                            <h3>Password</h3>
                            <div class="input-field">
                                <span class="R-button"><a href="/forgot">Reset password</a></span>
                            </div>

                            <% } %>

                            <h3>Gender</h3>
                            <% if(currentUser.gender == undefined || !currentUser.gender){ %>

                                <select name="gender" class="option">
                                    <i class="fas fa-user-tie"></i>
                                    <option value="">--Please choose an option--</option>
                                    <option value="Male" >Male</option>
                                    <option value="Female" >Female</option>
                                    <option value="Others" >Others</option>
                                </select>

                            <% } else { %>

                                <select name="gender" class="option" value="<%=currentUser.gender%>" readonly>
                                    <i class="fas fa-user-tie"></i>
                                    <option selected="selected" readonly><%=currentUser.gender%></option>
                                    
                                </select>

                            <% } %>
                           
                             
        
                            <h3>Date of Birth</h3>
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                            <% if(getdob === undefined){ %>
                                <input type="date" placeholder="Date of birth" min="1920-12-31" max="2021-12-31" name = "dob" >
                            <% } else { %>
                                <input type="date" placeholder="Date of birth"  min="1920-12-31" max="2021-12-31" name = "dob" value="<%= getdob %>"  readonly>
                            <% } %>
                            
                            </div>

                            
                            
                            <h3>Profession</h3>
                            <select name="profession" class="option" id="" >
                            <i class="fas fa-user-tie"></i>
                            <% if(currentUser.profession === 'Self Earning'){ %>

                                <option selected value="Self Earning">Self Earning</option>
                                <option value="Student">Student</option>
                                <option value="Others">Others</option>

                            <% } else if(currentUser.profession === 'Student'){ %>

                                <option value="Self Earning">Self Earning</option>
                                <option selected value="Student">Student</option>
                                <option value="Others">Others</option>

                            <% } else if(currentUser.profession === 'Others'){ %>

                                <option value="Self Earning">Self Earning</option>
                                <option value="Student">Student</option>
                                <option selected value="Others">Others</option>

                            <% } else if(currentUser.profession === ''){ %>

                                <option selected value="">--Please choose an option--</option>
                                <option value="Self Earning">Self Earning</option>
                                <option value="Student">Student</option>
                                <option value="Others">Others</option>

                            <% } else { %>
                                <option value="">--Please choose an option--</option>
                                <option value="Self Earning">Self Earning</option>
                                <option value="Student">Student</option>
                                <option value="Others">Others</option>
                            <% } %>
                            
                            </select>  
                            
                            
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <button class="update-info" type="submit">Update info</button>
                            </div>

                        </form>

                        <h3 class="heading-top">DELETE MY ACCOUNT</h3>
                        <div class="delete-account">
                            <h4>
                                If you wish to delete your account, all of your data 
                                will be permanently deleted. You will not be able to restore 
                                it once you continue to delete your account. In case you want to 
                                reactivate your account, kindly mail us at
                                teambackbenchers@gmail.com within 45 days from the date of deletion of your account.
                            </h4>
                            <button class="click">Delete my account</button>
                        </div>


                        <div class="popup_box">
                            <!-- <i class="fas fa-exclamation"></i> -->
                            <span class="ti-alert"></span>
                            <h1>Your account will be deleted Permanently!</h1>
                            <label>Are you sure to proceed?</label>
                            <div class="btns">
                              <button href="/dashboard" class="btn1">Cancel</button>
                              <button onclick="deleteAccount(this)" class="btn2">Delete Account</button>
                            </div>
                        </div>




                    </div>

                    
                    <div class="summary">
                        <div class="summary-card">
                            <% if(currentUser.role === 'author' || currentUser.role == 'admin'){ %>
                                <div class="summary-single">
                                    <span class="ti-name"></span>
                                    <div>
                                        <h5><%=currentUser.channel%></h5>
                                        <small>Channel name</small>
                                    </div>
                                </div>
                            <% } %>

                            <div class="summary-single">
                                <span class="ti-file"></span>
                                <div>
                                    <h5><a href="/showSavedArticles?page=1" id="makeitblack" ><%=savedArticlesCount%></a></h5>
                                    <small>Saved for later posts</small>
                                </div>
                            </div>

                            <div class="summary-single">
                                <span class="ti-share"></span>
                                <div>
                                    <h5><a href="/showSharedArticles?page=1" id="makeitblack" ><%=sharedArticlesCount%></a></h5>
                                    <small>No. of post shared</small>
                                </div>
                            </div>
                        </div>

                        <div class="birthday-card">
                            <div class="bday-info">
                                <h5>Publish your Blog</h5>
                                <div>
                                  <a href="/publish" >
                                    <button>
                                        <span id="click-here-btn">
                                            click here
                                        </span>
                                    </button>
                                  </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="image-dash">
                            <img class="dash-image-person" src="/images/97 (2) - Copy.png" alt="" height="600px" width="270px">
                        
                        </div> -->

                    </div>                    
                    </div>
                </section>
            </main>
         </div>

</body>


<script src="/javascripts/dashboard-profile-pic.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script src="/javascripts/pop-alert.js">  </script>


    
</html>