<html lang="en">
<head>



    <%- include("partials/google_Analytics.ejs") %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="/stylesheets/one-first-css.css">
    <link rel="stylesheet" href="/stylesheets/notification.css">
    <!-- <link rel="stylesheet" href="/stylesheets/review-css.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/preloader_front.css">
    
    <title>BackBenchers</title>
</head>

<style>

#oc11,#oc12,#oc13,#oc21,#oc22,#oc23,#oc31,#oc32,#oc33,#oc41,#oc42,#oc43{
    color: black;
    text-decoration: none;
}

.flash_bg_color{
    background: #0E76A8;
}



</style>


<body>





 

    <!-- <div class="mainnn">
        <div class="souravsingla">
            Welcome
        </div>
        <div class="title">
            BACKBENCHERS
        </div>
        <div class="barr">
            <div id="filll"></div>
        </div>
    </div>
 -->


    <span id="start"></span>
 
    

    <header>
        <div class="background-img">
            <img id="bg-img" src="/images/16v-01.jpg" alt="">
        </div>

        <div class="person-account">
            <span class="account-info">
                <% if(currentUser && currentUser.isVerified  && !currentUser.deleted){ %>
                    <% if(currentUser.google_id){ %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.google_username%></a>

                    <% } else if(currentUser.fb_id){ %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.fb_username%></a>
                    <% } else { %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.username%></a>
                    <% } %>
                    
                <% }else{ %>
                    <a href="/register_or_login" class="finall" style="color: black"> Sign-in/up</a>
                <% } %>
            </span>
        </div>

        <style>
            
        </style>

    <!-- show a message to the user with a link to re-verify his account if not verified  -->
        <% if(currentUser && !currentUser.isVerified){ %>
    
            <div class="alert_custom show showAlert ">
                <span class="fas fa-exclamation-circle"></span>
            
                    <span id="success-message-color" class="msg-alert">If you have not received link for verification or has expired, <a href="/reVerify" style="text-decoration:none;color:yellow;">Verify Account</a></span>
            
                <div class="close-btn">
                <span class="fas fa-times"></span>
                </div>
            </div>

            <% } %>


        
        <% if(successmessage.length || errormessage.length){ %>
        <div class="alert show showAlert">
            <span class="fas fa-exclamation-circle"></span>
            <% if(successmessage.length){ %>
                <span id="success-message-color" class="msg-alert"><%=successmessage%></span>
            <% } else if(errormessage.length) { %>
                <span id="error-message-color" class="msg-alert"><%=errormessage%></span>
            <% } %>
            <div class="close-btn">
              <span class="fas fa-times"></span>
            </div>
        </div>
        <% } else{ %>
            <div class="alert hide">
                <span class="fas fa-exclamation-circle"></span>
                <span class="msg-alert"></span>
                <div class="close-btn">
                  <span class="fas fa-times"></span>
                </div>
            </div>
        <% } %>


        

        

        <%- include("partials/vertical_navbar.ejs") %>


        <a href="#start"><div class="back-to-top">
            
                <span>
                <i class="fa fa-chevron-up aria-hidden="true"></i>
            </span>
        
        </div></a>

        <!-- <div class="tagline-area">

        </div> -->

        <section class="vision">
            <div class="wrapper">
                <div class="vision-image">
                    <img class="logologo" src="/images/final_2.png">
                </div>
        
                <!-- <div class="vision-border">
                    &nbsp;
                </div>
         -->
                <div class="vision-text">
                    <div class="boxx">
                        <h2 class="knowledge-fade">KNOWLEDGE POSSESS NO BOUNDARIES</h2>
                        <p>
                            Backbenchers is an edu-tech platform that helps create the connection between learners with diverse opinions and interests. Our end goal is to make education affordable and to improve the current education system in the best way. We provide an open-source education blogging platform where all bloggers, content writers, and educators from all around the world can share their knowledge and ideas in Business and Economics, Commerce, Engineering, and Personality Development. We are building a community that believes in active learning and promotes education. It is a form of connected learning and is highly effective.
                        </p>
                        <div id="publish-btn">
                            <span class="account-infoo" href="#">
                                <a href="/publish" class="finalll"> Publish here !</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </header>

    <main>
        <div class="engineering-page">

            <div class="tech-imgs">
                <img src="/images/engineering.png" id="left-img-1" alt="" >
                <img src="/images/2585513 - Copy.png" id="right-img-1" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-11">Engineering</h2>
            </div>

            <div class="tech-cards">

                <% if(etrendingpost && etrendingpost.post){ %>
               
                <div class="overall-card-1" ><a href="/posts/engineering/<%=etrendingpost.post.slug%>" id="oc11">
                    <h1 class="one-1">#trending </h1>
                        <div class="blog-post__info">

                        <h1 class="blog-post__title-1"><%=etrendingpost.post.title.substr(0,31)%></h1>
                        <p id="testone" class="blog-post__text-1"><%=etrendingpost.post.content.substring(0,210)%></p>
                        <a href="/posts/engineering/<%=etrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                        <ul class="btns-on-blogcard">
                            <button class="make-pop" onclick="like(this)" getpost="<%=etrendingpost.post.slug%>" ><li class="btns-blog"><i id="changelikecolor" class="far fa-hand-peace fa-2x "></i><span class="count"><%=etrendingpost.post.likes%></span></li></button>
                        


   <a href="https://api.whatsapp.com/send?text=thebackbenchers.co/posts/engineering/<%=etrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=etrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=etrendingpost.post.shares%></span></li></button></a>                         <span></span>
                        </ul>

                        </div>
                    </a>
                </div>
                <% } %>

                <% if(erecommendedpost && erecommendedpost.post){ %>
                <div class="overall-card-1"><a href="/posts/engineering/<%=erecommendedpost.post.slug%>" id="oc12">
                    <h1 class="one-2">#Recommended</h1>
                    <div class="blog-post__info">
                    
                    <h1 class="blog-post__title-1"><%=erecommendedpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-1" ><%=erecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/engineering/<%=erecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button class="make-pop" onclick="like(this)" getpost="<%=erecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=erecommendedpost.post.likes%></span></li></button>
                        

<a href="https://api.whatsapp.com/send?text=thebackbenchers.co/posts/engineering/<%= erecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=erecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=erecommendedpost.post.shares%></span></li></button></a>                        <span></span>
                    </ul>

                    
                    </div>
                </a>
            </div>
            <% } %>


            <% if(epopularpost && epopularpost.post){ %>

            <div class="overall-card-1"><a href="/posts/engineering/<%=epopularpost.post.slug%>" id="oc13">
                <h1 class="one-3">#Popular</h1>
                <div class="blog-post__info">

                <h1 class="blog-post__title-1"><%=epopularpost.post.title.substr(0,31)%></h1>
                <p class="blog-post__text-1" ><%=epopularpost.post.content.substring(0,210)%></p>
                <a href="/posts/engineering/<%=epopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                <ul class="btns-on-blogcard">
                    <button class="make-pop"  onclick="like(this)" getpost="<%=epopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=epopularpost.post.likes%></span></li></button>
                    
    
    <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/engineering/<%= epopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=epopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=epopularpost.post.shares%></span></li></button></a>                <span></span>
                </ul>

                </div>
                </a>
            </div>
        <% } %>
   
            </div>

            <a href="/posts/engineering?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-1">Explore more ...</h2>
            </div></a>



        </div>
































        <div class="business-economics-page">

            <div class="tech-imgs">
                <img src="/images/p3 (2) - Copy.png" id="left-img-2" alt="" >
                <img src="/images/p3 (3) - Copy.png" id="right-img-2" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-22">Business & Economics</h2>
            </div>

            <div class="tech-cards">


                <% if(betrendingpost && betrendingpost.post){ %>
                <div class="overall-card-2"><a href="/posts/business-economics/<%=betrendingpost.post.slug%>" id="oc21">
                    <h1 class="one-11">#trending </h1>
                    <div class="blog-post__info">

                    <h1 class="blog-post__title-2"><%=betrendingpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-2"><%=betrendingpost.post.content.substring(0,210)%></p>
                    <a href="/posts/business-economics/<%=betrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button class="make-pop"  onclick="like(this)" getpost="<%=betrendingpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=betrendingpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=betrendingpost.post.shares%></span></li></button> -->
  
  <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= betrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=betrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=betrendingpost.post.shares%></span></li></button></a>                      <span></span>
                    </ul>

                    </div>
                    </a>
                </div>
                
                <% } %>


                <% if(berecommendedpost && berecommendedpost.post){ %>
                <div class="overall-card-2"><a href="/posts/business-economics/<%=berecommendedpost.post.slug%>" id="oc22">
                    <h1 class="one-11">#Recommended</h1>
                    <div class="blog-post__info">
                   
                    <h1 class="blog-post__title-2"><%=berecommendedpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-2"><%=berecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/business-economics/<%=berecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button class="make-pop"  onclick="like(this)" getpost="<%=berecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=berecommendedpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=berecommendedpost.post.shares%></span></li></button> -->
                        <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= berecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=berecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=berecommendedpost.post.shares%></span></li></button></a>
                        <span></span>
                    </ul>
                    

                    </div>
                </a>
                </div>
                <% } %>


                <% if(bepopularpost && bepopularpost.post){ %>
                <div class="overall-card-2"><a href="/posts/business-economics/<%=bepopularpost.post.slug%>" id="oc23">
                    <h1 class="one-11">#Popular</h1>
                    <div class="blog-post__info">

                    <h1 class="blog-post__title-2"><%=bepopularpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-2"><%=bepopularpost.post.content.substring(0,210)%></p>
                    <a href="/posts/business-economics/<%=bepopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button  class="make-pop" onclick="like(this)" getpost="<%=bepopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=bepopularpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=bepopularpost.post.shares%></span></li></button> -->
   
   <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= bepopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=bepopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=bepopularpost.post.shares%></span></li></button></a>                     <span></span>
                    </ul>

                    </div>
                </a>
            </div>
            <% } %>
   
            </div>

            <a href="/posts/business-economics?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-2">Explore more ...</h2>
            </div></a>



        </div>

















        <div class="commerce-page">

            <div class="tech-imgs">
                <img src="/images/p2 (2) - Copy.png" id="left-img-3" alt="" >
                <img src="/images/commerce-bg (3) - Copy.png" id="right-img-3" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-33">Commerce</h2>
            </div>

            <div class="tech-cards">

                <% if(ctrendingpost && ctrendingpost.post){ %>

               
                <div class="overall-card-3"><a href="/posts/commerce/<%=ctrendingpost.post.slug%>" id="oc31">
                    <h1 class="one-11">#trending </h1>
                    <div class="blog-post__info">

                    <h1 class="blog-post__title-3"><%=ctrendingpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-3"><%=ctrendingpost.post.content.substring(0,210)%></p>
                    <a href="/posts/commerce/<%=ctrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=ctrendingpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=ctrendingpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=ctrendingpost.post.shares%></span></li></button> -->
   
                    <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= ctrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=ctrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=ctrendingpost.post.shares%></span></li></button></a>                     <span></span>
                    </ul>

                    </div>
                </a>
                </div>
                
                <% } %>

                <% if(crecommendedpost && crecommendedpost.post){ %>
                <div class="overall-card-3"><a href="/posts/commerce/<%=crecommendedpost.post.slug%>" id="oc32">
                    <h1 class="one-11">#Recommended </h1>

                    <div class="blog-post__info">
                   
                    <h1 class="blog-post__title-3"><%=crecommendedpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-3"><%=crecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/commerce/<%=crecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=crecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=crecommendedpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=crecommendedpost.post.shares%></span></li></button> -->

<a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= crecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=crecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=crecommendedpost.post.shares%></span></li></button></a>                        <span></span>
                    </ul>
                   

                    </div>
                    </a>
                </div>
                <% } %>


                <% if(cpopularpost && cpopularpost.post){ %>
            <div class="overall-card-3"><a href="/posts/commerce/<%=cpopularpost.post.slug%>" id="oc33">
                <h1 class="one-11">#Popular </h1>

                <div class="blog-post__info">

                <h1 class="blog-post__title-3"><%=cpopularpost.post.title.substr(0,31)%></h1>
                <p class="blog-post__text-3"><%=cpopularpost.post.content.substring(0,210)%></p>
                <a href="/posts/commerce/<%=cpopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                <ul class="btns-on-blogcard">
                    <button onclick="like(this)" getpost="<%=cpopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=cpopularpost.post.likes%></span></li></button>
                    <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=cpopularpost.post.shares%></span></li></button> -->
    
    <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= cpopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=cpopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=cpopularpost.post.shares%></span></li></button></a>                <span></span>
                </ul>

                </div>
                </a>
        </div>

        <% } %>
   
            </div>

            <a href="/posts/commerce?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-3">Explore more ...</h2>
            </div></a>



        </div>




























        <div class="Personality-dev">

            <div class="tech-imgs">
                <img src="/images/sa.png" id="left-img-4" alt="" >
                <img src="/images/97 (2) - Copy.png" id="right-img-4" alt="">
            </div>

            <div class="center-heading-1">
                <h2 id="center-heading-44">Personality Development </h2>
            </div>

            <div class="tech-cards">

                <% if(pdtrendingpost && pdtrendingpost.post){ %>
               
                <div class="overall-card-4"><a href="/posts/personality-development/<%=pdtrendingpost.post.slug%>" id="oc41">
                    <h1 class="one-11">#trending </h1>

                    <div class="blog-post__info">

                    <h1 class="blog-post__title-4"><%=pdtrendingpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-4"><%=pdtrendingpost.post.content.substring(0,210)%></p>
                    <a href="/posts/personality-development/<%=pdtrendingpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=pdtrendingpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=pdtrendingpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=pdtrendingpost.post.shares%></span></li></button> -->
  
  <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= pdtrendingpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=pdtrendingpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=pdtrendingpost.post.shares%></span></li></button></a>                      <span></span>
                    </ul>

                    </div>
                </a>
                </div>

                <% } %>


                <% if(pdrecommendedpost && pdrecommendedpost.post){ %>
                <div class="overall-card-4"><a href="/posts/personality-development/<%=pdrecommendedpost.post.slug%>" id="oc42">
                    <h1 class="one-11">#Recommended </h1>

                    <div class="blog-post__info">
                    
                    <h1 class="blog-post__title-4"><%=pdrecommendedpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-4"><%=pdrecommendedpost.post.content.substring(0,210)%></p>
                    <a href="/posts/personality-development/<%=pdrecommendedpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=pdrecommendedpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=pdrecommendedpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=pdrecommendedpost.post.shares%></span></li></button> -->
                        <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= pdrecommendedpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=pdrecommendedpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=pdrecommendedpost.post.shares%></span></li></button></a>
                        <span></span>
                    </ul>
                   
                    </div>
                </a>
                </div>
                <% } %>


                <% if(pdpopularpost && pdpopularpost.post){ %>

                <div class="overall-card-4"><a href="/posts/personality-development/<%=pdpopularpost.post.slug%>" id="oc43">
                    <h1 class="one-11">#Popular </h1>

                    <div class="blog-post__info">

                    <h1 class="blog-post__title-4"><%=pdpopularpost.post.title.substr(0,31)%></h1>
                    <p class="blog-post__text-4"><%=pdpopularpost.post.content.substring(0,210)%></p>
                    <a href="/posts/personality-development/<%=pdpopularpost.post.slug%>" class="blog-post__cta">Read more</a>
                    <ul class="btns-on-blogcard">
                        <button onclick="like(this)" getpost="<%=pdpopularpost.post.slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count"><%=pdpopularpost.post.likes%></span></li></button>
                        <!-- <button><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count"><%=pdpopularpost.post.shares%></span></li></button> -->
   
   <a href="https://api.whatsapp.com/send?text=https://thebackbenchers.co/posts/personality-development/<%= pdpopularpost.post.slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=pdpopularpost.post.slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=pdpopularpost.post.shares%></span></li></button></a>                     <span></span>
                    </ul>

                    </div>
                </a>
                </div>
                <% } %>
            </div>

            <a href="/posts/personality-development?page=1" id="underline"><div class="explore-more">
                <h2 id="explore-4">Explore more ...</h2>
            </div></a>
        </div>



        <!-- <div class="review-section">
            <div class="review-img">
                <img class="r-img" src="/images/review.png" alt="">
            </div>

            <div class="review-heading">
                <h2 id="center-heading">Reviews</h2>
            </div>

            <button id = "left" class="review-btns"> <i class="fas fa-arrow-circle-left fa-2x"></i> </button>
                <div class="review-content">


                    <% if(reviews.length > 0){ %>
                    

                        <div class="review-card carousel__item carousel__item--visible" >
                            <img id="person-img" src="/uploads/review/<%=reviews[0].imagename%>" alt="">
                            <h2 id="designation"><%=reviews[0].designation%></h2>
                            <p id="person-review-content"><%=reviews[0].content%></p>
    
                        </div>

                        <div class="review-card carousel__item " >
                            <img id="person-img" src="/uploads/review/<%=reviews[1].imagename%>" alt="">
                            <h2 id="designation"><%=reviews[1].designation%></h2>
                            <p id="person-review-content"><%=reviews[1].content%></p>
    
                        </div>

                        <div class="review-card carousel__item " >
                            <img id="person-img" src="/uploads/review/<%=reviews[2].imagename%>" alt="">
                            <h2 id="designation"><%=reviews[2].designation%></h2>
                            <p id="person-review-content"><%=reviews[2].content%></p>
    
                        </div>
                    
                    
                    <% } %>
                </div>
            <button id = "right" class="review-btns"> <i class="fas fa-arrow-circle-right fa-2x"></i> </button>
        </div> -->

    </main>


    <footer>
        <span id="cu"></span>
        <div class="main-content">
            <div class="left box">
                <div class="content">
                    <div class="logo-footer-img">
                    <a href="/" ><img src="/images/final_2.png" alt="logo" height="250px" width="250px"></a>
                </div>
                    <div class="social">
                        <a href="https://www.facebook.com/BackBenchers-105240558097832" target="_blank"><span class="fab fa-facebook-f"></span></a>
                    <a href="https://www.instagram.com/the.back_benchers_/?igshid=1tkr1g17rzrf5" target="_blank"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.linkedin.com/in/back-benchers-94a049202/" target="_blank"><span class="fab fa-linkedin-in"></span></a>
                    </div>
                </div>
            </div>

            <div class="center box">
                <h2>Quick links</h2>
                <div class="content">
                    <ul class="links">
                    <li><a href="#start"> > Home</a></li>
                    <li><a href="/posts/engineering?page=1"> > Engineering</a></li>
                    <li><a href="/posts/business-economics?page=1"> > Business & Economics</a></li>
                    <li><a href="/posts/commerce?page=1"> > Commerce</a></li>
                    <li><a href="/posts/personality-development?page=1"> > Personality Development</a></li>
                    </ul>
                </div>
            </div>

            <div class="center-right box">
                <h2>Company</h2>
                <div class="content">
                    <ul class="links">
                    <li><a href="/aboutus"> > About Us</a></li>
                    <li><a href="/query/contactus" id="cu"> > Contact Us</a></li>
                    <li><a href="/termsandconditions"> > Terms and conditions</a></li>
                    <li><a href="/privacypolicy"> > Privacy Policy</a></li>
                    </ul>
                </div>
            </div>

            

            <div class="right box">
                <h2>Any queries ?</h2>
                <div class="content">
                    <form action="/query/submit/home" method="POST">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" name="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Message *</div>
                            <textarea  cols="25" rows="2" name="message" required></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="bottom">
            <center>
                <span class="credits">Created by <a href="#start">BackBenchers</a> | </span>
                <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
            </center>
        </div>
    </footer>
    
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/review-slide.js"></script>

<script src="/javascripts/ajaxHandler_home.js"></script>

<script src="/javascripts/pop-alert.js">  </script>




    <style>

   

        .carousel__item,
     .carousel__item--hidden {
      display: none;
    }
    
     .carousel__item--visible {
        display: block;
        animation: fadeVisibility 0.5s;
      }
    
      @keyframes fadeVisibility {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: opacity linear;
      }
    }
    
    
    </style>
    
    
    

    <script>
        var progress = 0;
        document.onreadystatechange = function()
        {
            if(document.readyState == "interactive")
            {
                var allElement = $("*");
                var length = allElement.length;
                for(var i=0;i<length;i++)
                {
                    set_element(allElement[i],length);
                }
            }
        }
        function set_element(element,totalElement)
        {
            var percentage= 100/totalElement;
            if($(element).length==1)
            {
                $("#filll").animate({width:progress+percentage+"%"},120,function(){
                    if(document.getElementById("filll").style.width=="100%")
                    {
                        $("mainnn").fadeOut(500);
                    }
                });
                progress=progress+percentage;
            }
        }
        
        </script>


   

<script>
    setTimeout(function(){
        $('.mainnn').fadeToggle();
    }, 4500);
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!-- <script src="/javascripts/prevent_copy_paste.js"></script> -->
</html>