<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="/stylesheets/personality-development.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">



    <link rel="stylesheet" href="/stylesheets/notification.css">


    
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/trying-search-box.css">

    <script type="text/javascript">
        $(document).ready(function(){
            $(".active").click(function(){
                $(".search-boxx").toggle();
                // $("input[type='text']").focus();
            });
        });
        </script>





	<script>
		$(document).ready(function(){
			$(".profile .icon_wrap").click(function(){
			  $(this).parent().toggleClass("active");
			  $(".notifications").removeClass("active");
			});

			$(".notifications .icon_wrap").click(function(){
			  $(this).parent().toggleClass("active");
			   $(".profile").removeClass("active");
			});

			$(".show_all .link").click(function(){
			  $(".notifications").removeClass("active");
			  $(".popup").show();
			});

			$(".close").click(function(){
			  $(".popup").hide();
			});
		});
	</script>










    <title>Blogs</title>
</head>
<body>

    <!-- <div class="bg-pic-background">
        <img src="images/sameer_3draft.jpeg" alt="background">
    </div> -->
    <style>
    #messagebox{
        background-color: #ab2d24; 
    }
   
    </style>
    
    <div id="md"><h2 id="messagebox"><%=successmessage%></h2></div>
    
   
    <header>
        
    <div class="top-horiz-bar">
        <div class="logo-section-in-bar">
            
            <a href="/"><img class="top-img-logo" src="/images/final_2.png" alt="logo-pic" height="60px" width="60px"></a>
            <!-- <img class="top-name-logo" src="./zoomed-brand-name.png" alt="logo-name" height="80px" width="130px"> -->
            <a href="/"><img class="top-img2-logo" src="/images/5.png" alt="logo-pic" height="60rem" width="145rem"></a>
            
        </div>


        <div class="other-icons">
        



            
            <div class="wrapper">
                <div class="navbar">
              
                  <div class="navbar_right">
              
                    <div class="profile">
                      <div class="icon_wrap">
                        
                        <%- include('partials/top_right.ejs') %>
  
                    </div>
                  </div>
                </div>
                
                
              </div>



              <form method="get" action="/posts/general-search/personality-development/2page?page=1">

                <div class="final-search-box">
                    <input type="text" name="search" class="search-txt" placeholder="Search Here..">
                    <input type="number" name="page" style="display: none;" value=1>
                        <div class="icon">
                        <button id="disable-search-btn" class="search-btn" >
                            <span>&#9906;</span>
                        </button>
                        </div>
                    
                </div>
                <style>
                    .search-btn{
                        outline: none;
                        /* background: none; */
                        /* text-decoration: none; */
                        border: none;
                    }
                </style>

                </form>





                <% if(successmessage.length || errormessage.length){ %>
                    <div class="alert show showAlert">
                        <span class="fas fa-exclamation-circle"></span>
                        <% if(successmessage.length){ %>
                            <span id="success-message-color" class="msg-alert"><%=successmessage%></span>
                        <% } else if(errormessage.length) { %>
                            <span id="error-message-color" class="msg-alert"><%=errormessage%></span>
                        <% } %>
                        <div class="close-btn">
                          <span class="fas fa-times"></span>
                        </div>
                    </div>
                    <% } else{ %>
                        <div class="alert hide">
                            <span class="fas fa-exclamation-circle"></span>
                            <span class="msg-alert"></span>
                            <div class="close-btn">
                              <span class="fas fa-times"></span>
                            </div>
                        </div>
                    <% } %>



            </div>

        </div>







        <%- include('partials/vertical_navbar.ejs') %>
</header>

<main>

    <div class="all-engineering-articles">

        <%- include('partials/sidebox.ejs') %>


        <div class="table-all">
            <% for(var i=start; i<=limit; i+=2) { %>
        <!-- <div class="row"> -->

            <% if(i<=posts.length-1){ %>
                <% if(posts[i] !== null && posts[i].isReviewedByAdmin === true){ %>
           

        <div class="column">
            <div class="blog-post">
            <div class="blog-post__img">
                <a href="/posts/personality-development/<%=posts[i].slug%>"><img src="/uploads/img/posts/<%=posts[i].imagename%>" alt="<%=posts[i].imagename%>" class="blog-post__article-img"></a>
            </div>
            <div class="blog-post__info">
            <div class="blog-post__date">
                <span><%= posts[i].publishDate.toDateString().substr(0,10)%> , <%=posts[i].publishDate.toDateString().substr(10,15)%></span>
                <span><%= posts[i].publish_date %></span>
            </div>
            <div class="author-name">
                <ul class="author-content">
                    <button onclick="addFollower(this)" getauthor="<%= posts[i].authorName %>"> <li class="name-aut"><%= posts[i].authorName.substr(0,10) %></li></button>
                    <button onclick="saveToLater(this)" getpost="<%=posts[i].slug%>"> <li class="save-to-later"><i class="fas fa-plus "></i></li></button>
                </ul>
            </div>
            <h1 class="blog-post__title"><%=posts[i].title.substr(0,31)%></h1>
            <p class="blog-post__text"><%= posts[i].content.substring(0,270) %>...</p>
            <% if(currentUser && currentUser.role === "admin"){ %>
                <form method="POST" action="/updateRecommended/<%=posts[i].slug%>/<%=posts[i].subject%>/<%=page%>">
                    <span>push to recommended at what position: </span><input type="number" name="position">
                    <button type="submit">push</button>
                </form>

                <form method="POST"  enctype="multipart/form-data" action="/posts/upload/file/<%=posts[i]._id%>">
                    <!-- <span>upload the image with numbering same as <b>article number</b>: </span> -->
                    <input type="file" placeholder="file upload" name="photo"><BR><br>
                    
                      <input type="submit" value="click here after attaching the image">
                     
                </form>
                <div><button onclick="deletePost(this)" getpost="<%=posts[i].slug%>" >delete post</button></div>
            <% } %>
            <a href="/posts/personality-development/<%=posts[i].slug%>" class="blog-post__cta">Read more</a>
            <ul class="btns-on-blogcard">
                <!-- <li class="btns-blog"><i class="far fa-eye fa-2x "></i></li> -->
                <button onclick="like(this)" post_index="<%=i%>" pageno="<%=page%>" getpost="<%=posts[i].slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count" id="likecount" ><%=posts[i].likes%></span></li></button>
                <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= posts[i].slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=posts[i].slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=posts[i].shares%></span></li></button></a>
         
                <span></span>
            </ul>
            </div>
            </div>
            </div>
            <% } %>
            <% } %>



            <% if( i+1 <= posts.length-1 ){ %>
                <% if(posts[i+1] !== null && posts[i+1].isReviewedByAdmin === true){ %>
            <div class="column">
                <div class="blog-post">
                <div class="blog-post__img">
                    <a href="/posts/personality-development/<%=posts[i].slug%>"><img src="/uploads/img/posts/<%=posts[i+1].imagename%>" alt="<%=posts[i+1].imagename%>" class="blog-post__article-img"></a>
                </div>
                <div class="blog-post__info">
                <div class="blog-post__date">
                    <span><%= posts[i+1].publishDate.toDateString().substr(0,10)%> , <%=posts[i+1].publishDate.toDateString().substr(10,15)%></span>
                    <span><%= posts[i+1].publish_date %></span>
                </div>
                <div class="author-name">
                    <ul class="author-content">
                        <button onclick="addFollower(this)" getauthor="<%= posts[i+1].authorName %>" > <li class="name-aut"><%= posts[i+1].authorName.substr(0,10) %></li></button>
                        <button onclick="saveToLater(this)" getpost="<%=posts[i+1].slug%>" > <li class="save-to-later"><i class="fas fa-plus "></i></li></button>
                    </ul>
                </div>
                <h1 class="blog-post__title"><%=posts[i+1].title.substr(0,31)%></h1>
                <p class="blog-post__text"><%= posts[i+1].content.substring(0,270) %>...</p>
                <% if(currentUser && currentUser.role == "admin"){ %>
                    <form method="POST" action="/updateRecommended/<%=posts[i].slug%>/<%=posts[i].subject%>/<%=page%>">
                        <span>push to recommended at what position: </span><input type="number" name="position">
                        <button type="submit">push</button>
                    </form>

                    <form method="POST"  enctype="multipart/form-data" action="/posts/upload/file/<%=posts[i+1]._id%>">
                        <!-- <span>upload the image with numbering same as <b>article number</b>: </span> -->
                        <input type="file" placeholder="file upload" name="photo"><BR><br>
                        
                          <input type="submit" value="click here after attaching the image">
                    </form>
                    <div><button onclick="deletePost(this)" getpost="<%=posts[i+1].slug%>">delete post</button></div>
                <% } %>
                <a href="/posts/personality-development/<%=posts[i+1].slug%>" class="blog-post__cta">Read more</a>
                <ul class="btns-on-blogcard">
                    <!-- <li class="btns-blog"><i class="far fa-eye fa-2x "></i></li> -->
                    <button onclick="like(this)" post_index="<%=i+1%>" pageno="<%=page%>" getpost="<%=posts[i+1].slug%>" ><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span class="count" id="likecount"><%=posts[i+1].likes%></span></li></button>
                <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/personality-development/<%= posts[i+1].slug %>" data-action="share/whatsapp/share" target="_blank"><button onclick="sharePost(this)" getpost="<%=posts[i+1].slug%>" ><li class="btns-blog"><i class="fas fa-share fa-2x "></i><span class="count" id="sharecount"><%=posts[i+1].shares%></span></li></button></a>
                    <span></span>
                </ul>
                </div>
                </div>
                </div>
                <% } %>
            <% } %>
           
            <% } %>

        

        <!-- </div> -->

        </div>


        </div>


            <!-- <div class="page-end">
                &nbsp;
            </div> -->

            <div class="next-page">
                <% if(shownextbutton === true){ %>
                    <% if(search_next){ %>
                        <h2 class="new-page-blogs">-Page <%=page%>- <span class="next-page-btn"><a href="/posts/general-search/business-economics?search=<%=searched_query%>&page=<%=nextpage%>">Next page</a></span></h2>
                    <% } else { %>
                        <h2 class="new-page-blogs">-Page <%=page%>- <span class="next-page-btn"><a href="/posts/business-economics?page=<%=nextpage%>">Next page</a></span></h2>
                    <% } %>
                <% } else{ %>
                    <h2 class="new-page-blogs">-Page <%=page%>-</h2>
                <% } %>
            </div>
        </div>
        </section> 

    </main>
        

    


    <%- include('partials/footer.ejs') %>




    <script>
        setTimeout(function(){
            $('.bookshelf_wrapper').fadeToggle();
        }, 500);
    </script>


</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/ajaxHandler_pd.js"></script>  </script>
<script src="/javascripts/pop-alert.js">  </script>
<script src="/javascripts/dropdownicontoggle.js"></script>
<script src="/javascripts/search_validate.js"></script>

</html>