

<html lang="en">
  <head >
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Backbenchers</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/1_logo.png" />
      <!-- <link rel="stylesheet" href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css"> -->
      <link rel="stylesheet" href="/stylesheets/2nd_dark.css">
      <link rel="stylesheet" href="/stylesheets/notification.css">
      <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/stylesheets/trying-search-box.css">


     

      </head>
      
  <body onmouseover="getcomments(this); this.onmouseover = null;" getslug="<%=post.slug%>">




    <div class="bookshelf_wrapper">
      <ul class="books_list">
        <li class="book_item first"></li>
        <li class="book_item second"></li>
        <li class="book_item third"></li>
        <li class="book_item fourth"></li>
        <li class="book_item fifth"></li>
        <li class="book_item sixth"></li>
      </ul>
      <div class="shelf"></div>
    </div>

    

      
      <header >
  
          <div class="top-horiz-bar">
              <a href="/">
              <div class="logo-section-in-bar">
                  <img class="top-img-logo" src="/images/final_2.png" alt="logo-pic" >
                  <img class="top-img2-logo" src="/images/5.png" alt="logo-pic" height="60rem" width="145rem">
                  
              </div></a>
      
      
              <div class="other-icons">





             

      
<!-- 
                <form method="get" action="/posts/general-search/<%=post.slug%>/<%=post.subject%>?page=1">
                  <div class="search-box">
                      
                      <input id="search-font" class="search-txt" type="text" name="search" placeholder="Type to search" required>
                      <button id="disable-search-btn" class="search-btn">
                          <i class="fas fa-search"></i>
                      </button>
                  <style>
                     
                  </style>
                  </div>
              </form> -->

              <!-- <div class="person-account">
                  <span class="account-info" href="#">
                    <% if(currentUser && currentUser.isVerified  && !currentUser.deleted){ %>
                      <% if(currentUser.google_id){ %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.google_username.substring(0,8)%></a>

                    <% } else if(currentUser.fb_id){ %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.fb_username.substring(0,8)%></a>

                    <% } else { %>
                        <a href="/dashboard" class="finall" style="color: black"> <%= currentUser.username.substring(0,8)%></a>
                    <% } %>
                    <% } else { %>
                        <a href="/register_or_login" class="finall"> Sign-in/up</a>
                    <% } %>
                  </span>
              </div> -->




              
            <div class="wrapper">
              <div class="navbar">
            
                <div class="navbar_right">
            
                  <div class="profile">
                    <div class="icon_wrap">
           

                      <% if(currentUser && currentUser.isVerified  && !currentUser.deleted){ %>

                        <% if(currentUser.google_id){ %>
                           <% if(currentUser.image){ %>
                                  <img src="/uploads/img/profile-pics/<%=currentUser.image%>" alt="profile_pic" class="navbar-image">
                                <% } else { %>
                                    <img src="/images/sd.png" alt="profile_pic" class="navbar-image">
                                <% } %>

                          <!-- <span class="name"> <%= currentUser.google_username.substring(0,8)%></span> -->
                      
                      <i class="fas fa-chevron-down"></i>
                    </div>
            
                    <div class="profile_dd">
                      <ul class="profile_ul">
                        <!-- <li class="profile_li"><a class="profile" href="#"><span class="picon"><i class="fas fa-user-alt"></i>
                            </span></a>
                           <div class="btn">My Account</div> 
                        </li> -->
                        <li><a class="my-account" href="/dashboard"><span class="picon"><i class="fas fa-user"></i></span>My Account</a></li>
                        <li><a class="saved-later-post" href="/showSavedArticles?page=1"><span class="picon"><i class="fas fa-bookmark"></i></span>Saved to Later</a></li>
                        <li><a class="logout" href="/logout"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Logout</a></li>
                      </ul>
                    </div>

                    <% } else if(currentUser.fb_id){ %>
                       <% if(currentUser.image){ %>
                                  <img src="/uploads/img/profile-pics/<%=currentUser.image%>" alt="profile_pic" class="navbar-image">
                                <% } else { %>
                                    <img src="/images/sd.png" alt="profile_pic" class="navbar-image">
                                <% } %>
                      
                      <!-- <span class="name"> <%= currentUser.fb_username.substring(0,8)%></span> -->
                      <i class="fas fa-chevron-down"></i>
                    </div>
            
                    <div class="profile_dd">
                      <ul class="profile_ul">
                        <!-- <li class="profile_li"><a class="profile" href="#"><span class="picon"><i class="fas fa-user-alt"></i>
                            </span></a>
                           <div class="btn">My Account</div> 
                        </li> -->
                        <li><a class="my-account" href="/dashboard"><span class="picon"><i class="fas fa-user"></i></span>My Account</a></li>
                        <li><a class="saved-later-post" href="/showSavedArticles?page=1"><span class="picon"><i class="fas fa-bookmark"></i></span>Saved to Later</a></li>
                        <li><a class="logout" href="/logout"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Logout</a></li>
                      </ul>
                    </div>

                    <% } else { %>

                       <% if(currentUser.image){ %>
                                  <img src="/uploads/img/profile-pics/<%=currentUser.image%>" alt="profile_pic" class="navbar-image">
                                <% } else { %>
                                    <img src="/images/sd.png" alt="profile_pic" class="navbar-image">
                                <% } %>
                      <!-- <span class="name"> <%= currentUser.username.substring(0,8)%></span> -->
                      <i class="fas fa-chevron-down"></i>
                    </div>
            
                    <div class="profile_dd">
                      <ul class="profile_ul">
                        <!-- <li class="profile_li"><a class="profile" href="#"><span class="picon"><i class="fas fa-user-alt"></i>
                            </span></a>
                           <div class="btn">My Account</div> 
                        </li> -->
                        <li><a class="my-account" href="/dashboard"><span class="picon"><i class="fas fa-user"></i></span>My Account</a></li>
                        <li><a class="saved-later-post" href="/showSavedArticles?page=1"><span class="picon"><i class="fas fa-bookmark"></i></span>Saved to Later</a></li>
                        <li><a class="logout" href="/logout"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Logout</a></li>
                      </ul>
                    </div>


                      <% } %>


                    <% } else { %>

                      <a href="/register_or_login"><span class="name" >Sign-in</span></a>
                    </div>

                      <% } %>

                  </div>
                </div>
              </div>
              
              
            </div>
            
            <form method="get" action="/posts/general-search/<%=post.slug%>/<%=post.subject%>">

              <div class="final-search-box">
                  <input type="text" name="search" class="search-txt" placeholder="Search Here..">
                  <input type="number" name="page" style="display: none;" value=1>
                      <div class="icon">
                      <button id="disable-search-btn" class="search-btn">
                          <span>&#9906;</span>
                      </button>
                      </div>
                  
              </div>
              <!-- <style>
                  .search-btn{
                      outline: none;
                      /* background: none; */
                      /* text-decoration: none; */
                      border: none;
                  }
              </style> -->

              </form>









                              
                <% if(successmessage.length || errormessage.length){ %>
                  <div class="alert show showAlert">
                      <span class="fas fa-exclamation-circle"></span>
                      <% if(successmessage.length){ %>
                          <span id="success-message-color" class="msg-alert"><%=successmessage%></span>
                      <% } else if(errormessage.length) { %>
                          <span id="error-message-color" class="msg-alert"><%=errormessage%></span>
                      <% } %>
                      <div class="close-btn">
                        <span class="fas fa-times"></span>
                      </div>
                  </div>
                  <% } else{ %>
                      <div class="alert hide">
                          <span class="fas fa-exclamation-circle"></span>
                          <span class="msg-alert"></span>
                          <div class="close-btn">
                            <span class="fas fa-times"></span>
                          </div>
                      </div>
                  <% } %>



              </div>
      
              </div>
          
              <%- include('partials/vertical_navbar.ejs') %>
  
  </header>
  
  <main>
  
      
      
          <div class="all-engineering-articles">


            
              <div class="side-box">
                  <div class="one-of-3-heading">
                      <h2 class="side-box-heading-one">Trending</h2>
                      <% for(var i=0;i<trendingCount;i++){ %>
                          <% if(trendingPosts[i].post){ %>
          
                              <div class="sub-part-section">
                                  <h2 class="title-side-box"><a href="/posts/<%=trendingPosts[i].post.subject%>/<%=trendingPosts[i].post.slug%>" style="color:black;text-decoration: none;" class="makeitblack"><%=trendingPosts[i].post.title%></a></h2>
                                  <div class="date-side-box">
                                  <span><%=trendingPosts[i].post.publishDay%></span>
                              </div>
          
                          <% } %>
                  </div>
                  <% } %> 
                  </div>
          
          
                  <div class="two-of-3-heading">
                      <h2 class="side-box-heading-two">Recommended</h2>
                      <% for(var i=0;i<recommendedCount;i++){ %>
                      <% if(recommendedPosts[i].post){ %>
                      <div class="sub-part-section">
                          <h2 class="title-side-box"><a href="/posts/<%=recommendedPosts[i].post.subject%>/<%=recommendedPosts[i].post.slug%>" style="color:black;text-decoration: none;" class="makeitblack"><%=recommendedPosts[i].post.title%></a></h2>
                          <div class="date-side-box">
                              <span><%=recommendedPosts[i].post.publishDay%></span>
                          </div>
                      </div>
                      <% } %>
                      <% } %>  
                  </div>
          
          
                  <div class="three-of-3-heading">
                      <h2 class="side-box-heading-three">Popular</h2>
                      <% for(var i=0;i<popularCount;i++){ %>
                      <% if(popularPosts[i].post){ %>
                          <div class="sub-part-section">
                              <h2 class="title-side-box">
                                  <a href="/posts/<%=popularPosts[i].post.subject%>/<%=popularPosts[i].post.slug%>" style="color:black;text-decoration: none;" class="makeitblack"><%=popularPosts[i].post.title%></a></h2>
                              <div class="date-side-box">
                                  <span><%=popularPosts[i].post.publishDay%></span>
                              </div>
                          </div>
                      <% }%>
                      <% } %>
                  </div>
              </div>
              
              
              
  
             <div class="central-part-total" >
              <div class="article-content">
                  <h2 class="article-heading-3p"> <%= post.title %> </h2>
                  <% if(currentUser && currentUser.linkedin){%>

                    <h3 class="overall-prop"> - <%=post.authorName%> <span id="last-page-date"><a href="<%=post.authorLinkedIn%>"><span id="author-linkedin"><i class="fab fa-linkedin-in"></i></span></a>  |  <%=displaydate%></span> <span id="entity-save-subscribe"><span><button onclick="addFollower(this)" getauthor="<%= post.authorName %>" id="channel-name"><%=post.authorName%></button></span><span id="susbscribe-id-plus">  <button id="save-to-later" onclick="saveToLater(this)" getpost="<%=post.slug%>"> <i class="fas fa-plus "></i> </button> </span></span></h3>

                  <% } else {%>

                  
                  <h3 class="overall-prop"> - <%=post.authorName%> <span id="last-page-date">  |  <%=displaydate%></span> <span id="entity-save-subscribe"><span><button onclick="addFollower(this)" getauthor="<%= post.authorName %>" id="channel-name"><%=post.authorName%></button></span><span id="susbscribe-id-plus">  <button id="save-to-later" onclick="saveToLater(this)" getpost="<%=post.slug%>"> <i class="fas fa-plus "></i> </button> </span></span></h3>

                  <% } %>
              

                  


                  <style>
                    p{
                      /* color: red; */
                      font-size: 20px;
                    }
                  </style>
                  <p class="article-para-3p"><%- post.sanitizedHtml %></p>
                  <ul class="btns-on-blogcard">

                    <button onclick="like(this)" getpost="<%=post.slug%>"><li class="btns-blog"><i class="far fa-hand-peace fa-2x "></i><span id="likecount" class="count"><%=post.likes%></span></li></button>

                    <a href="https://api.whatsapp.com/send?text=http://thebackbenchers.co/posts/<%=post.subject%>/<%= post.slug %>" data-action="share/whatsapp/share" target="_blank">
                    <button onclick="sharePost(this)" getpost="<%=post.slug%>">
                    <li class="btns-blog"><i class="fas fa-share fa-2x "></i>
                    <span class="count" id="sharecount"><%=post.shares%></span></li></button></a>

                  </ul>

           
                
                  <% if(currentUser && currentUser.role === 'admin'){ %>
                  <span><a href="/posts/<%=post._id%>/edit">Edit this post</a></span>
                  <% } %>
              </div>
  

              <div class="detailBox">
                <div class="titleBox">
                  <label>Comments</label>
                  
                </div>

                <div class="actionBox">
                    <ul class="commentList">

                      <% if(comments){%>

                        <% for(var i=0; i<Math.min(2,comments.length); i++){ %>
                          
                          <li>
                            <div class="commenterImage">
                              <img src="/uploads/img/profile-pics/<%=comments[i].writer_image%>">
                            </div>
                            <div class="commentText">
                                <p class=""><%=comments[i].content%></p> 
                                <span class="date sub-text">on <%=comments[i].creation_time%></span>
                                <button class="date sub-text-1"><%=comments[i].writer%></button>
                                
                            </div>
                        </li>

                        <% } %>

                      <% } %>
                        

                     
                      

                    </ul>


                    <button class="btn-default-1" onclick="loadmore()">Read all comments</button>

                    
                    

                    <form  action="/posts/submitComment/<%=post.subject%>/<%=post.slug%>" method="POST" class="form-inline" role="form">
                        <div class="form-group">
                            <input class="form-control" type="text" name="comment" placeholder="Your comments" />
                        </div>
                       
                        <button class="btn-default-2">Post</button>
               
                    </form>
                </div>
            </div>
   
  
  
  
              <div class="similar-articles">
                  <h2 class="overall-heading">Similar articles</h2>
  
                  <div class="all-griding">
                    <% for(var i=0; i<limit; i++){ %>
                      <div class="column">
                          <div class="similar-blog">
                              <div class="similar-article-heading">
                                  <h2 class="makeitblack"><%=similarArticles[i].title%></h2>
                              </div>
                              
                              <div class="similar-article-image">
                                  <img src="/uploads/img/posts/<%=similarArticles[i].imagename%>" height="130px" width="100%">
                              </div>
                              <div class="similar-button">
                                  <button><a href="/posts/<%=similarArticles[i].subject%>/<%=similarArticles[i].slug%>" style="text-decoration: none;color:black;" class="makeitblack">Read more</a></button>
                              </div>
                          </div>
                      </div>
                    <% } %>
                  </div>
  
                </div>
  
  
  
              </div>
  
  
      
             <!-- <div class="next-page">
              <h2 class="new-page-blogs">-Page 1 of 1- <span class="next-page-btn"><a href="">Next page</a></span></h2>
          </div>
   -->
   
  
  
              </div>
          </section> 
          </main>

          
  
  
  
          <footer>
            <span id="cu"></span>
              <div class="main-content">
                  <div class="left box">
                      <div class="content">
                          <div class="logo-footer-img">
                          <a href="/"><img src="/images/2.png" alt="logo" height="250px" width="250px"></a>
                      </div>
                          <div class="social">
                            <a href="https://www.facebook.com/BackBenchers-105240558097832" target="_blank"><span class="fab fa-facebook-f"></span></a>
                    <a href="https://www.instagram.com/the.back_benchers_/?igshid=1tkr1g17rzrf5" target="_blank"><span class="fab fa-instagram"></span></a>
                    <a href="https://www.linkedin.com/in/back-benchers-94a049202/" target="_blank"><span class="fab fa-linkedin-in"></span></a>
                          </div>
                      </div>
                  </div>
  
                  <div class="center box">
                      <h2>Quick links</h2>
                      <div class="content">
                          <ul class="links">
                            <li><a href="/"> > Home</a></li>
                            <li><a href="/posts/engineering?page=1"> > Engineering</a></li>
                            <li><a href="/posts/business-economics?page=1"> > Business & Economics</a></li>
                            <li><a href="/posts/commerce?page=1"> > Commerce</a></li>
                           
                            <li><a href="/posts/personality-development?page=1"> > Personality Development</a></li>
                          </ul>
                      </div>
                  </div>
  
                  <div class="center-right box">
                      <h2>Company</h2>
                      <div class="content">
                          <ul class="links">
                            <li><a href="/aboutus"> > About Us</a></li>
                            <li><a href="/query/contactus" id="cu"> > Contact Us</a></li>
                            <li><a href="/termsandconditions"> > Terms and conditions</a></li>
                            <li><a href="/privacypolicy"> > Privacy Policy</a></li>
                          </ul>
                      </div>
                  </div>
  
                  
  
                  <div class="right box">
                    <h2>Any queries ?</h2>
                    <div class="content">
                        <form action="/query/submit/home" method="POST">
                            <div class="email">
                                <div class="text">Email *</div>
                                <input type="email" name="email" required>
                            </div>
                            <div class="msg">
                                <div class="text">Message *</div>
                                <textarea  cols="25" rows="2" name="message"></textarea>
                            </div>
                            <div class="btn">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>

              </div>
  
              <div class="bottom">
                  <center>
                      <span class="credits">Created by <a href="#">BackBenchers</a> | </span>
                      <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
                  </center>
              </div>
          </footer>



          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
      setTimeout(function(){
          $('.bookshelf_wrapper').fadeToggle();
      }, 500);
  </script>
  </body>




  

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  

  <script type="text/javascript">
      $(document).ready(function(){
          $(".active").click(function(){
              $(".search-boxx").toggle();
              // $("input[type='text']").focus();
          });
      });
      </script>





<script>
  $(document).ready(function(){
    $(".profile .icon_wrap").click(function(){
      $(this).parent().toggleClass("active");
      $(".notifications").removeClass("active");
    });

    $(".notifications .icon_wrap").click(function(){
      $(this).parent().toggleClass("active");
       $(".profile").removeClass("active");
    });

    $(".show_all .link").click(function(){
      $(".notifications").removeClass("active");
      $(".popup").show();
    });

    $(".close").click(function(){
      $(".popup").hide();
    });
  });
</script>





  

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="/javascripts/ajaxHandler_show.js"></script>
  <script src="/javascripts/dropdownicontoggle.js"></script>
  <script src="/javascripts/show_comments.js"></script>
  <script src="/javascripts/pop-alert.js">  </script>
  <script src="/javascripts/search_validate.js"></script>
  </html>

  
