<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BackBenchers</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/1_logo.png" />
</head>
<body>
  <h1>unreviewed posts of all the subjects are here</h1>
  <% if(currentUser !== null && currentUser.role === "admin" ){ %>
    <p><%=currentUser.username%> with <%=currentUser.role%> role is logged in!</p>
  <br><br><br>
  <% for(var i=0; i<posts.length; i++){ %>
    <% if(posts[i].isReviewedByAdmin === false && posts[i].isReviewedByAuditor === false){ %>
      <h1>Post Number is : <%=posts[i].postNumber%></h1>
      <h1> <%=posts[i].title%> </h1> 
      <h3> <%=posts[i].publishDay%> <%=posts[i].publish_date%> </h3>
      <h3>published by <%=posts[i].authorName%></h3>
      <h4>this post is of <%=posts[i].subject%></h4>

      <p><%-posts[i].sanitizedHtml%> </p>
      <div> is reviewed by admin <%=posts[i].isReviewedByAdmin%></div>
      <div> is reviewed by auditor <%=posts[i].isReviewedByAuditor%></div>
      <div>
        <span>Likes: <%=posts[i].likes%></span>
        <span>Views: <%=posts[i].views%></span>
      </div>

      <% if(posts[i].filename){ %>
        <strong><%=posts[i].filename%></strong>
        <div><a href="/publish/displayfile/pdf?file=<%=posts[i].filename%>">click here if it is a <strong>pdf file</strong></a></div><br>
        <div><a href="/publish/displayfile/word?file=<%=posts[i].filename%>">click here if it is a <strong>word file</strong></a></div>
        <br>
      <% } %> 
    
        <button id="approve" getpost= "<%=posts[i].slug%>"  role="admin" onclick="approveFunc(this)">approve this post and send to respective posts page</button>
        <!-- <button getpost= "<%=posts[i].slug%>" onclick="clearpost(this)">clear</button> -->
        <h3>select the auditors to whom we want to send this post</h3>
        <!-- <button id="auditors" onclick="getAuditors(this)" >select auditors</button>
        <ul>
          
        </ul> -->
        <% auditors.forEach(function(auditor){ %>
          <button auditorname="<%=auditor.username%>" getpost= "<%=posts[i].slug%>"  onclick="sendToAuditor(this)" > <%=auditor.username%> </button>
        <% }) %>
        
      <!-- here we put the operations on these posts by th admins or auditors -->
      <a href="/posts/<%=posts[i].slug%>/edit">Edit this post</a>
      <form action="/<%=posts[i].slug%>?_method=DELETE" method="POST">
        <button type="submit">Delete post</button>
      </form>
      <p id="reviewstatus"></p>
      
      <form method="POST"  enctype="multipart/form-data" action="/posts/upload/file/<%=posts[i]._id%>">
        <span>upload the image with numbering same as <b>article number</b>: </span>
        <input type="file" placeholder="file upload" name="photo"><BR><br>
        <div>
          <input type="submit" value="submit">
        </div>
        
      </form>


      <br><br><br><br><br><br>

      <% } %>

    
  <% } %>
  
  <% } %>

</body>

<script>
      
 
  var httpRequest;
  var status = document.querySelector('#reviewstatus');
  var test; 
  function approveFunc(e){
      curPostSlug = e.getAttribute('getpost');           
      console.log(curPostSlug);
      httpRequest = new XMLHttpRequest();
      if (!httpRequest) {
        alert('Giving up :( Cannot create an XMLHTTP instance');
        return false;
      }
      httpRequest.onreadystatechange = approveFuncRequest;
      httpRequest.open('GET', '/approvepostbyadmin/'+ curPostSlug);
      httpRequest.send();
    }
    function approveFuncRequest(){
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200 ) {
          var resJson = JSON.parse(httpRequest.responseText)
          status.innerHTML = "resJson.reviewed"
        } else {
          alert('There was a problem with the request.');
        }
      } else {
        console.log("not ready")
      }
    }


    function sendToAuditor(e){
      name = e.getAttribute('auditorname');    
      postname = e.getAttribute('getpost')       
      console.log(name, postname);
      httpRequest = new XMLHttpRequest();
      if (!httpRequest) {
        alert('Giving up :( Cannot create an XMLHTTP instance');
        return false;
      }
      httpRequest.onreadystatechange = sendToAuditorRequest;
      httpRequest.open('GET', '/sendToAuditor/'+name+'/'+postname);
      httpRequest.send();
    }
    function sendToAuditorRequest(){
      
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200 ) {
          var resJson = JSON.parse(httpRequest.responseText)

          console.log(resJson.message)
          // document.querySelector('#sent-to-auditor').innerHTML = resJson.message;
          alert(resJson.message)
        
        } else {
          alert('There was a problem with the request.');
        }
      } else {
        console.log("not ready")
      }
    }


</script>

</html>