  <%- include("./partials/header1.ejs") %>
  <link rel="stylesheet" href="/stylesheets/home-page.css">
  <%- include("./partials/header2.ejs") %>
  <% if(message != undefined){%>
  <p><%=message%></p>
  <%}%>
  <section class="landing-page pin">
    <!--  
            
      <div class="login-btnn" id="blur">
        <a id="btn-btn-btn" href="#" onclick="toggle()">Login-in/Sign-up</a>
      </div>
    
      <div class="whole-login">
      <div id="popup">
    
      <div class="cont">
        <div class="form sign-in">
          <h2>Sign In</h2>
          <label>
            <span>Email Address</span>
            <input type="email" name="email">
          </label>
          <label>
            <span>Password</span>
            <input type="password" name="password">
          </label>
          <button class="submit" type="button">Sign In</button>
          <p class="forgot-pass">Forgot Password ?</p>
    
          <div class="social-media">
            <ul>
              <li id="google-signin">Sign in with Google  &nbsp; <img id="position-google" src="images/google.png"></li>
              <p id="or-btw-gandf">or</p>
              <li id="facebook-signin">Sign in with Facebook &nbsp; <img src="images/facebook-final.png"></li>
            </ul>
          </div>
        </div>
    
        <div class="sub-cont">
          <div class="img">
            <div class="img-text m-up">
              <h2>New here?</h2>
              <p>Sign up and discover great amount of new opportunities!</p>
            </div>
            <div class="img-text m-in">
              <h2>One of us?</h2>
              <p>If you already has an account, just sign in. We've missed you!</p>
            </div>
            <div class="img-btn">
              <span class="m-up">Sign Up</span>
              <span class="m-in">Sign In</span>
            </div>
          </div>
          <div class="form sign-up">
            <h2>Sign Up</h2>
            <label>
              <span>Name</span>
              <input type="text">
            </label>
            <label>
              <span>Email</span>
              <input type="email">
            </label>
            <label>
              <span>Password</span>
              <input type="password">
            </label>
            <label>
              <span>Confirm Password</span>
              <input type="password">
            </label>
            <button type="button" class="submit">Sign Up Now</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript" src="script.js"></script>
    
    <script type="text/javascript">
      function toggle(){
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');
      }
      </script>
    -->
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="button"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="vertical-bar">
                <header>Menu</header>
                <a class="verical-ankel" href="/"><i class="fa fa-home"></i><span>Home</span></a>
                <a class="verical-ankel" href="#blogs"><i class="fas fa-book"></i><span>Blogs</span></a>
                <a class="verical-ankel" href="#blogs"><i class="fas fa-book-reader"></i><span>Authors'</span></a>
                <a class="verical-ankel" href="/newsletter"><i class="fas fa-newspaper"></i><span>Newsletter</span></a>
                <a class="verical-ankel" href="/newsletter"><i class="fas fa-file-contract"></i><span>Membership</span></a>
                <a class="verical-ankel" href="team"><i class="fas fa-users"></i><span>Help desk</span></a>
                <!-- <a class="verical-ankel" href="about"><i class="fa fa-qrcode"></i><span>About Us</span></a> -->
                <a class="verical-ankel" href="#foo"><i class="fas fa-phone-alt"></i><span>Contact Us</span></a>
            </div>
        
        
            <div ><a href="#"><img class="logo-try" src="images/qwerty.png" alt="logo pic" height="auto" width="23%">
            </a>
                
                <a href="#">
                    <img class="logo-picsss" src="images/logooo.png" alt="logo pic" height="auto" width="11%">
                </a>
        
            </div>
        
            
            <div class="position-icons">
                <div class="social-media">
                    <ul>
                        <li class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i><span></span></a></li>
                        <li class="instagram"><a href="https://www.instagram.com/ritishgupta44/"><i class="fab fa-instagram"></i><span></span></a></li>
                        <li class="gmail"><a href="mailto:teamincognito262@gmail.com"><i class="far fa-envelope"></i><span></span></a></li>
                        <li class="Linkedln"><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                    </ul>
                </div>
            </div>
        
        
            <a href="#" class="quote-line">
                <svg><rect></rect></svg>
                "No <span class="quote-span">sanction</span> can <span class="quote-span">stand</span> against <span class="quote-span">ignited</span> minds"
            </a>
            <h4 id="quote-writer">-Dr. APJ Abdul Kalam</h4>
            <div class="bgimg">
                <img src="images/5924.jpg" alt="" width="100%" height="750vh">
            </div>
    
    
        </section>
    
        
        <section class="vision">
            <div class="wrapper">
                <div class="vision-image">
                    <span class="triggerForLogo"></span>
                    <img class="logologo" src="images/logooo-trans-sm.png">
                </div>
        
                <div class="vision-border">
                    &nbsp;
                </div>
        
                <div class="vision-text">
                    <div class="box">
                        <h2 class="knowledge-fade">Knowledge Possess No Boundries</h2>
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident labore officiis animi excepturi accusamus? Reiciendis nemo dolor veniam hic, commodi blanditiis quod saepe rerum quaerat, repellat, in recusandae eligendi ab dolorem autem esse explicabo eum.itationem eaque nostrum mollitia corporis veniam rerum, non sed molestiae expedita praesentium soluta et reprehenderit velit neque consequatur illo! Reiciendis harum facil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, laboriosam. Voluptates nihil laboriosam cupiditate rem suscipit impedit perferendis quod quam!</p>
        
                </div>
            </div>
            
        </section>
        <div class="back-to-top"><a href="#"><span><i class="fa fa-chevron-up aria-hidden="true"></i></span></a></div>
        <span id="Buisness-and-economics-start"></span>
        <section class="business-economics" id="blogs" >
            <span class="cards-shift"></span>
            <div class="main-container">
        
                
                <div class="container-1 container">
                    <h1 class="one-1">#trending </h1>
                    <div class="card-1 card">
                        <div class="content">
                            <h2 class="blogname"><%=betrendingpost.post.title%>
                            <img class="writerpic" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="">
                        </h2>
                            <p class="para-blog"><%=betrendingpost.post.sanitizedHtml.substring(0,50)%>
                                </p>
                            <a class="fullbtn" href="/posts/business-economics/<%=betrendingpost.post.slug%>">Read more</a>
                           
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
                
                <div class="container-1 container">
                    <h1 class="two-1">#recommended</h1>
                    <div class="card-1 card">
                        <div class="content">
                            <h2 class="blogname">venture
                            <img class="writerpic2" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog">Founded almost 30 years <br> ago, Zdnet is a business <br> technology news website <br> that provides news , <br>
                                analysis, and research <br> on the the latest IT trends, <br> issues and events for the <br> technology professionals.
                            </p>
                            <a class="fullbtn" href="#">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            
                
                <div class="container-1 container">
                    <h1 class="three-1">#popular</h1>
                    <div class="card-1 card">
                        <div class="content">
                            <h2 class="blogname"><%=bepopularpost.post.title%>
                            <img class="writerpic3" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog"><%=bepopularpost.post.sanitizedHtml.substring(0,50)%></p>
                            <a class="fullbtn" href="#">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="/posts/business-economics/<%=bepopularpost.post.slug%>"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            </div>
            <a class="explore-1 explore" href="/posts/business-economics?page=1">explore more......</a>
            
        </section>
        
        
        
        
        <span id="Commerce"></span>
        <section class="Commerce" id="Commerce">
            <span class="cards-shift"></span>
            <div class="main-container">
        
                
                <div class="container-2 container">
                    <h1 class="one-2">#trending </h1>
                    <div class="card-2 card">
                        <div class="content">
                            <h2 class="blogname"><%=ctrendingpost.post.title%>
                            <img class="writerpic" src="https://i.pinimg.com/474x/25/5b/3a/255b3a6ed74b44ca24ece91eed73cd13.jpg" alt="writer pic">
                        </h2>
                            <p class="para-blog"><%=ctrendingpost.post.sanitizedHtml.substring(0,50) %>
                                </p>
                            <a class="fullbtn" href="/posts/commerce/<%=ctrendingpost.post.slug%>">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
                
                <div class="container-2 container">
                    <h1 class="two-2">#recommended</h1>
                    <div class="card-2 card">
                        <div class="content">
                            <h2 class="blogname">venture
                            <img class="writerpic2" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog">Founded almost 30 years <br> ago, Zdnet is a business <br> technology news website <br> that provides news , <br>
                                analysis, and research <br> on the the latest IT trends, <br> issues and events for the <br> technology professionals.
                            </p>
                            <a class="fullbtn" href="#">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            
                
                <div class="container-2 container">
                    <h1 class="three-2">#popular</h1>
                    <div class="card-2 card">
                        <div class="content">
                            <h2 class="blogname"><%=cpopularpost.post.title %>
                            <img class="writerpic3" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog"><%=cpopularpost.post.sanitizedHtml.substring(0,50) %></p>
                            <a class="fullbtn" href="/posts/commerce/<%=cpopularpost.post.slug%>">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            </div>
            <a class="explore-2 explore" href="<%=hostname%>/posts/commerce?page=1">explore more......</a>
            
        </section>
        
        
        <span id="engineering"></span>
        <section class="tech-cards" id="engineering">
            <span class="cards-shift"></span>
            <div class="main-container">
        
                
                <div class="container-3 container">
                    <h1 class="one-3">#trending </h1>
                    <div class="card-3 card">
                        <div class="content">
                            <h2 class="blogname"><%=etrendingpost.post.title %>
                            <img class="writerpic" src="https://i.pinimg.com/474x/25/5b/3a/255b3a6ed74b44ca24ece91eed73cd13.jpg" alt="writer pic">
                        </h2>
                            <p class="para-blog"><%=epopularpost.post.sanitizedHtml.substring(0,50)%>
                                </p>
                            <a class="fullbtn" href="/posts/engineering/<%=etrendingpost.post.slug%>">Read more</a>
                            ass="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
                
                <div class="container-3 container">
                    <h1 class="two-3">#recommended</h1>
                    <div class="card-3 card">
                        <div class="content">
                            <h2 class="blogname">venture
                            <img class="writerpic2" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog">Founded almost 30 years <br> ago, Zdnet is a business <br> technology news website <br> that provides news , <br>
                                analysis, and research <br> on the the latest IT trends, <br> issues and events for the <br> technology professionals.
                            </p>
                            <a class="fullbtn" href="#">Read more</a>
                           
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            
                
                <div class="container-3 container">
                    <h1 class="three-3">#popular</h1>
                    <div class="card-3 card">
                        <div class="content">
                            <h2 class="blogname"><%= epopularpost.post.title %>
                            <img class="writerpic3" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog"><%= epopularpost.post.sanitizedHtml.substring(0,50) %></p>
                            <a class="fullbtn" href="/posts/engineering/<%=epopularpost.post.slug%>">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            </div>
            <a class="explore-3 explore" href="<%=hostname%>/posts/engineering?page=1" >explore more......</a>
            
        </section>
        
        
        <span id="personality-D"></span>
        <section class="personality-dev" >
            <span class="cards-shift"></span>
            <div class="main-container">
        
                
                <div class="container-4 container">
                    <h1 class="one-4">#trending </h1>
                    <div class="card-4 card">
                        <div class="content">
                            <h2 class="blogname"><%= pdtrendingpost.post.title%>
                            <img class="writerpic" src="https://i.pinimg.com/474x/25/5b/3a/255b3a6ed74b44ca24ece91eed73cd13.jpg" alt="writer pic">
                        </h2>
                            <p class="para-blog"><%= pdtrendingpost.post.sanitizedHtml.substring(0,50) %>
                                </p>
                            <a class="fullbtn" href="/posts/personality-development/<%=pdtrendingpost.post.slug%>">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
                
                <div class="container-4 container">
                    <h1 class="two-4">#recommended</h1>
                    <div class="card-4 card">
                        <div class="content">
                            <h2 class="blogname">venture
                            <img class="writerpic2" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog">Founded almost 30 years <br> ago, Zdnet is a business <br> technology news website <br> that provides news , <br>
                                analysis, and research <br> on the the latest IT trends, <br> issues and events for the <br> technology professionals.
                            </p>
                            <a class="fullbtn" href="#">Read more</a>
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            
                
                <div class="container-4 container">
                    <h1 class="three-4">#popular</h1>
                    <div class="card-4 card">
                        <div class="content">
                            <h2 class="blogname"><%= pdpopularpost.post.title %>
                            <img class="writerpic3" src="https://images.unsplash.com/photo-1511447333015-45b65e60f6d5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max" alt="writer pic">
                            </h2>
                            <p class="para-blog"><%= pdpopularpost.post.sanitizedHtml.substring(0,50) %></p>
                            <a class="fullbtn" href="/posts/personality-development/<%=pdpopularpost.post.slug%>">Read more</a>
                            
                           
                            
                            <!-- <a class="comments" href="#"><i class="far fa-comment-alt fa-2x"></i></a> -->
                            <a class="share-btn" href="#"><i class="fas fa-share fa-2x"></i><span class="show-shares">108</span></a>
                        </div>
                    </div>
                </div>
            
            </div>
            <a class="explore-4 explore" href="<%=hostname%>/posts/personality-development?page=1">explore more......</a>
            
            
        </section>
        
        <section class="reviews">
    
            <div class="controls">
                <div class="slider-btns-black">
                    <div class="prev">
                    <img class="arrow-btns-on-review-section" src="" alt="slider-btns" width="120px" height="130px">
                </div>
                <div class="next">
                    <img class="arrow-btns-on-review-section-right" src="" alt="slider-btns" width="120px" height="130px">
                </div>
                    </div>
            </div>
           
            
            <div class="slider">
                
                                                
                <div class="slide active" >
    
                    
                    
                    <div class="container">            
                        <div class="review-container" style="background-color: #ffffff;">
                            
                            <div class="review-image">
                                <img id="mypic" src="images/so.jpeg" alt="person-pic" height="90%" width="130%">
                            </div>
                        
                            
                            <div class="person-reviews">
                                <p>" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni enim distinctio sit officia quisquam ea odit excepturi nemo rem voluptatem pariatur dolorem expedita saepe consequatur quas explicabo veritatis et, dolor temporibus quidem ratione ipsam? Nulla repellendus ad consequatur est a! "</p>
                                <h4 class="review-designation">-Sourav Kumar (Co-founder of Learners)</h4>
                            </div>
                        </div> 
                    </div>
                </div>
                                                    
                <div class="slide">
                    
                    <div class="container">            
                        <div class="review-container" style="background-color: black">
                            <div class="review-image">
                                <img id="mypic" src="images/so.jpeg" alt="person-pic" height="90%" width="130%">
                            </div>
                            <div class="person-reviews">
                                <p>" Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni enim distinctio sit officia quisquam ea odit excepturi nemo rem voluptatem pariatur dolorem expedita saepe consequatur quas explicabo veritatis et, dolor temporibus quidem ratione ipsam? Nulla repellendus ad consequatur est a! "</p>
                                <h4 class="review-designation">-Sourav Kumar (Co-founder of Learners)</h4>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        
            
            
        
            
            <div class="indicator">
            </div>
        
        </section>
        
        <section class="footer" >
            <footer id="foo">
                <div class="overall-footer">
                    <div class="first-part">
                        <h2 class="our-name"><a href="#">learners</a></h2>
                        <a href="#"><img id="logo-of-learners" src="images/finallogopic.png" alt="our-logo" height="40%" width="14%"></a>
                    </div>
                    <div class="bordering-right">
                        &nbsp;
                    </div>
        
        
        
                    <div class="second-part">
                        <h2 class="second-links">Quick Links</h2>
                        <ul class="ul-class-footer">
                            <li class="quick-buttons"><a href="#">Home</a></li>
                            <li class="quick-buttons"><a href="#Buisness-and-economics-start">Buisness & Economics</a></li>
                            <li class="quick-buttons"><a href="#Commerce">Commerce</a></li>
                            <li class="quick-buttons"><a href="#engineering">Engineering</a></li>
                            <li class="quick-buttons"><a href="#personality-D">Personality Devlopment</a></li>
                            
                        </ul> 
                    </div>
        
        
        
                    
        
                    <div class="third-party">
                        <!--
                        <h2 class="third-links">Follow Us</h2>
                        <p class="third-para">Please follow us on our social media profiles in order to remain updated.</p>
                    -->
                    <div class="name-social-footer">
                    <li class="quick-buttons-2"><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                    <li class="quick-buttons-2"><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li class="quick-buttons-2"><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
                </div>
                <style>
                    a{
                        text-decoration: none;
                        color: white;
                    }
                </style>
                         <div class="media-buttons-footer">
                            <a class="btns-footer-class-1" href="#"><i id="facebook-1" class="fab fa-facebook-f "></i></a>
                            <a class="btns-footer-class-2" href="#"><i id="instagram-1" class="fab fa-instagram "></i></a>
                            <a class="btns-footer-class-3" href="#"><i id="linkedin-1" class="fab fa-linkedin-in "></i></a>
                        </div> 
                    </div>
        
        
        
        
        
                    <div class="fourth-party">
                        <h2 class="fourth-links">Social</h2>
                        <a href="mailto:ritishgupta45@gmail.com">
                        <span id="envolope-footer" class="fas fa-envelope fa-2x"></span>
                        <span id="email-footer" class="text">learners@gmail.com</span>
                        </a>
                        
                        <!--
                        <div class="content-contact-footer">
                            <form action="#">
                                <div class="email-footer">
                                    <div class="text">Email *</div>
                                    <input type="email" placeholder="enter your email id" required>
                                </div>
                                <div class="message-footer">
                                    <div class="text">Message *</div>
                                    <input type="text" placeholder="leave a message">
                                </div>
                                <div class="send-button-footer">
                                  <button type="submit">Send</button>  
                                </div>
                            </form>
                        </div>
                    -->
        
                    <input id="name-id-id" type="email" placeholder="Name">
                    <input id="email-id-id" type="email" placeholder="Email-id" required>
                    <input id="leave-msg-id-id" type="text" placeholder="leave a message">
                    <div class="send-button-footer">
                        <button id="send-id-id" type="submit">Send</button>  
                      </div>
                    
                    </div>
        
        
        
        
                    
                    <div class="fifth-party">
                        <h2 class="fifth-links">Connect with Us</h2>
                        <h2 class="heading-of-news-footer">Newsletter subscription</h2>
                        <p class="para-of-news-footer">Subscribe to our fortnightly newsletter <br> to gain great knowledge exposure. <br> Also, stand a chance to participate <br> in brainstorming competitions <br> and win exciting prizes.</p>
                        <div class="suscribe-footer">
                            <input id="footer-suscribe-btns" type="email" placeholder="enter your email id" required>
                            <div class="red-btn-suscribe">
                            <button id="suscribing" type="button">Subscribe</button>
                        </div>
                    </div>
                </div>
        
        
                <div class="final-part">
                    <div class="box-copy">
                        &nbsp;
                        <div class="btns-margin">
                       <a href=""><h2 class="bottom-copy-footer">About Us</h2></a> 
                        <a href=""></a><h2 class="bottom-copy-footer">Privacy Policy</h2></a>
                       <a href=""> <h2 class="bottom-copy-footer">Terms and conditions</h2></a>
                    </div>
        
                    <h2 class="final-copywrite">copyright &copy; All Rights Reserved | learners</h2>
                    </div>
                </div>
        
            </footer> 
        </section>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js" integrity="sha512-A98SmLRZISk4eIxQBeCm8k0jAcwN3A3lBx4hr7baoMpV1VpxcxlZIhi5fJIZN50sQ5RlCzx8yV+Voy2cR6x0aA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js" integrity="sha512-pvDW4tehKKsohH97164HwKwRGFpzayEFWTVbk8HuUoLIQ7Jp+WLN5XYokVuoCj2aT6dy8ihbW8SRTG1k0W4mSQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineLite.min.js" integrity="sha512-tSIDeirKC6suYILHqqPuZH3s0MvD4a5vCHXhBIcdmq4gQXZ2IB3fEYA5x2f3D2p/CbSqzKEvuTEVbS5VZ2u+ew==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js" integrity="sha512-ocsFo48WU8Xq6Y1Lwi7psXRAujG9E4TKNR4q1DbrKzaaxOMTEoao/a+mDoB+cYzY4lwbyxvqjkp/ZA1/MNlfsg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js" integrity="sha512-NQT88v4R8lZJJP7iHFwtnoJZa4oGPcmP5FL51dZOPthvyehmVGOII2TifJBa26GnePEFLtIMJpWTiVVcYXftbQ==" crossorigin="anonymous"></script>
         <script src="javascripts/main-page-one.js"></script> 
        <script src="javascripts/slider.js"></script>
        <!-- <script src="share-btn.js"></script> -->
        <!-- <script src="like-btn.js"></script> --
        

<%- include("./partials/footer.ejs") %>

<!-- </body>
</html> -->